/* @override http://localhost:4000/css/screen.css */

/* Global */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  background-attachment: fixed;
  background-color: white;
  background-image: url(/images/gradient.gif);
  background-position: 50% 100%;
  background-repeat: repeat-x;
}

p {
  margin-top: .8em;
  margin-bottom: .8em;
}

a {
  color: #B54141;
  border: 1px solid transparent;
}

a:hover {
  background-color: #EEE;
  border: 1px solid #CCC;
}

a:link,
a:visited {
  color: #B54141;
  text-decoration: none;
}

table {
  font-size: inherit;
  font: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1em;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.33em;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.33em;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.33em;
  border-bottom: 1px solid #CCC;
}

/* Page layout */

#header {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 80%;
  height: 90px;
  padding: 30px 0 0 180px;
  margin: 0px;
  font-family: Monaco, 'Lucida Console', monospace;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
  background: url(/images/rsim_small.jpg) no-repeat 40px 0;
}

#content {
  background-color: white;
  border: 1px solid #EEE;
  margin-left: 40px;
  margin-right: 17em;
  margin-top: 160px;
  margin-bottom: 20px;
  padding: 0.5em;
}

#content div, p, td, th, li, pre {
  font-size: 14px;
  line-height: 1.65em;
}

/* Sidebar */

#sidebar {
  float: right;
  position: absolute;
  right: 1.5em;
  top: 160px;
  width: 14em;
}

#sidebar * {
  font-size: 12px;
}

#sidebar h2 {
  font-size: 14px;
  font-weight: bold;
}

#sidebar p {
  margin: 0.2em 0px;
}

#sidebar img {
  border-style: none;
}

#sidebar ul {
  list-style-type: disc;
  margin-left: 1em;
  padding-left: 5px;
}

#sidebar li {
  line-height: 1.3em;
}

#sidebar span.date {
  color: #666;
}

/* Post */

div.post {
  border-bottom: 1px solid #CCC;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.post .date {
  color: #666;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.post .title {
  margin-top: 0.25em;
}

#content .post .meta {
  color: #666;
  font-size: 12px;
  margin-bottom: 1em;
}

.post pre {
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 0 .4em;
}

.post ul,
.post ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.post li {
  margin-bottom: .33em;
}

.post code {
  background-color: #EEE;
  border: 1px solid #CCC;
  font-family: Monaco, 'Lucida Console', monospace;
  font-size: 12px;
  font-weight: normal;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  padding: 0;
}

.post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
  font-family: Monaco, 'Lucida Console', monospace;
  font-size: 12px;
  font-weight: normal;
}

.post .highlight pre {
  font-size: 12px;
}

.post pre.terminal code {
  background-color: #333;
}

.post blockquote {
  border-left: 5px solid #DDD;
  margin: 15px 30px 0px 10px;
  padding-left: 20px;
  font-style: italic;
}

.post .warning {
  background-color: #FF8;
}

/* Related posts*/

.related_posts {
  margin-top: 2em;
}

.related_posts h2 {
  margin-bottom: 1em;
}

/* List of posts */

ul.posts {
  list-style-type: none;
  margin-bottom: 1em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span.date {
  color: #666;
  font-family: Monaco, 'Lucida Console', monospace;
  font-size: 80%;
}

/* Disqus comments */

#disqus_thread div, #disqus_thread p, #disqus_thread td, #disqus_thread th, #disqus_thread li, #disqus_thread pre {
  font-size: 12px;
}

#disqus_thread h3 {
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.33em;
}

#sidebar #dsq-combo-widget #dsq-combo-content h3 {
  font-size: 14px;
}
