<IfModule mod_rewrite.c>
 RewriteEngine on

 # redirect wordpress content feeds to feedburner
 RewriteCond %{HTTP_USER_AGENT} !FeedBurner    [NC]
 RewriteCond %{HTTP_USER_AGENT} !FeedValidator [NC]
 RewriteRule ^feed/?([_0-9a-z-]+)?/?$ http://feeds.feedburner.com/rayapps_blog [R=301,NC,L]

 # map old categories to tags
 RewriteRule ^category/oracle-enhanced/?$ /tags/oracle_enhanced/ [R=301,NC,L]

 RewriteRule ^category/([_0-9a-z-]+)/?$ /tags/$1/ [R=301,NC,L]
</IfModule>
